@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
@font-face {
  font-family: "Konexy Personal Use";
  src: url(./assets/fonts/KonexyPersonalUse.otf);
}
@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
  src: url(./assets/fonts/Gilroy-Heavy.ttf);
  src: url(./assets/fonts/Gilroy-Light.ttf);
  src: url(./assets/fonts/Gilroy-Medium.ttf);
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
.ff_inter {
  font-family: "Inter", sans-serif;
}
.ff_use {
  font-family: "Konexy Personal Use";
}
.ff_roy {
  font-family: "Gilroy";
}
:root {
  --fs-5xl: 72px;
  --fs-4xl: 48px;
  --fs-3xl: 40px;
  --fs-2xl: 36px;
  --fs-xl: 35px;
  --fs-lg: 24px;
  --fs-md: 18px;
  --fs-sm: 16px;
  --fs-xsm: 14px;
  /* color */
  --color-clr_dark_blue: #000958;
  --color-clr_white: #ffffff !important;
  --color-bg_orange: #ff5b2e;
  --color-clr_orange: #ff5b2e;
  --color-clr_black1: #313131 !important;
  --color-clr_light_grey: #878687 !important;
  --color-clr_grey: #f6f6f6 !important;
  --color-bg_black: #000000 !important;
  --color-bg_black3: ##0d0d0d !important;
  --color-bg_blue: #6022ea;
  --color-bg_sken: #ffe4c8;
  --color-bg_section: #fff4ea;
  --color-bg_section_1: #fffaf5;
  --color-clr_nav: #5e6085;
  --color-clr_blog: #b2b2c4;
}
.hover_grey {
  transition: all 0.2 s linear;
}
.hover_grey:hover {
  color: var(--color-clr_light_grey) !important;
}
.clr_dark_blue {
  color: var(--color-clr_dark_blue) !important;
}
.clr_white {
  color: var(--color-clr_white) !important;
}
.bg_orange {
  background-color: var(--color-bg_orange) !important;
}
.clr_orange {
  color: var(--color-clr_orange) !important;
}
.clr_black {
  color: var(--color-bg_black) !important;
}
.clr_black3 {
  color: var(--color-bg_black3) !important;
}
.clr_light_grey {
  color: var(--color-clr_light_grey) !important;
}
.clr_grey {
  color: var(--color-clr_grey) !important;
}
.bg_grey {
  background-color: var(--color-clr_grey) !important;
}
.bg_black {
  background-color: var(--color-bg_black) !important;
}
.bg_blue {
  background-color: var(--color-bg_blue);
}
.clr_blue {
  color: var(--color-bg_blue);
}
.clr_black_2 {
  color: var(--color-bg_black2);
}
.bg_sken {
  background-color: var(--color-bg_sken);
}
.bg_section {
  background-color: var(--color-bg_section);
}
.bg_section_1 {
  background-color: var(--color-bg_section_1);
}
.clr_nav {
  color: var(--color-clr_nav) !important;
}
.clr_blog {
  color: var(--color-clr_blog) !important;
}
/* font_size */
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
/* font-weight */
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
@media (max-width: 1400px) {
  :root {
    --fs-5xl: 72px;
    --fs-4xl: 40px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 35px;
    --fs-lg: 24px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 14px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-5xl: 72px;
    --fs-4xl: 28px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 35px;
    --fs-lg: 20px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 14px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-5xl: 62px;
    --fs-4xl: 35px;
    --fs-3xl: 40px;
    --fs-2xl: 36px;
    --fs-xl: 35px;
    --fs-lg: 17px;
    --fs-md: 18px;
    --fs-sm: 14px;
    --fs-xsm: 14px;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-5xl: 42px;
    --fs-4xl: 27px;
    --fs-3xl: 28px;
    --fs-2xl: 36px;
    --fs-xl: 25px;
    --fs-lg: 20px;
    --fs-md: 18px;
    --fs-sm: 14px;
    --fs-xsm: 14px;
  }
}
@media (max-width: 400px) {
  :root {
    --fs-5xl: 32px;
    --fs-4xl: 22px;
    --fs-3xl: 28px;
    --fs-2xl: 26px;
    --fs-xl: 25px;
    --fs-lg: 20px;
    --fs-md: 18px;
    --fs-sm: 14px;
    --fs-xsm: 14px;
  }
}
